:root {
    --silver: #BABABB;
    --night: #151710;
    --orange-web: #F6A21D;
    --golden-brown: #A27936;
    --silver-2: #ADADAD;
    --yellow-green: #A1C44F;
    --dim-gray: #6A6A6B;
    --gray: #757576;
    --battleship-gray: #8E8E8E;
    --jet: #363634;
}
